<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Noislume.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>46EC7CB32DC0213D00E4A679</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>46EC7CC12DC0213F00E4A679</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>46EC7CCB2DC0213F00E4A679</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
